* {
    margin: 0;
    padding: 0;
}

.main {
    min-height: 100vh;
    background-color:black;
}

.header-fixed {
    width: 100vw;
    height: 44px;
    box-sizing: border-box;
    padding: 7px 3px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-fixed-back {
    width: 30px;
    height: 30px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.header-fixed-placeholder {
    height: 60px;
    width: 100vw;
}
#div-line1{
    box-sizing: border-box;
    padding: 7px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes myanimation{
from{
height: 0px;
left:500px;
}
to{
height: 700px;
right:500px;
}
}
@keyframes myanimation2{
from{
height: 0px;
}
to{
height: 350px;
}
}
@keyframes myanimation3{
from{
height:0px;
}
to{
height:349px;
}
}

.poster1{
width:500px;
height:700px;
background-size: contain;
animation-name: myanimation;
animation-duration: 2s;
transition: width 2s height 4s;
transition-timing-function: ease-in-out;
}

.poster1:hover {
cursor: pointer;
width: 800px;
height: 900px;
}

.poster-list2{
box-sizing: border-box;
padding: 7px 3px;
display: flex;
align-items: center;
flex-direction: row;
}

.poster2{
width:300px;
height:350px;
/*background-image:url(night2.jpg);*/animation-name: myanimation2;
animation-duration: 2s;
transition: width 2s height 4s;
transition-timing-function: ease-in-out;
}

.poster2:hover {
cursor: pointer;
width: 300px;
height: 400px;
}

.poster3{
width:500px;
height:349px;
margin-top: 1px;
/* background-image:url(night4.jpg);*/
animation-name: myanimation3;
animation-duration: 2s;
transition: width 2s height 4s;
transition-timing-function: ease-in-out;
}

.poster3:hover {
cursor: pointer;
width: 600px;
height: 400px;
}

.poster4{
width:215px;
height:700px;
background-image: url(night6.jpg);
animation-name: myanimation;
animation-duration: 2s;
transition: width 2s height 4s;
transition-timing-function: ease-in-out;
}

.poster4:hover {
cursor: pointer;
width: 300px;
height: 900px;
}

.poster5{
width:215px;
height:200px;
background-image: url(night7.jpg);
animation-name: myanimation;
animation-duration: 2s;
transition: width 2s height 4s;
transition-timing-function: ease-in-out;
}

.poster5:hover {
cursor: pointer;
width: 300px;
height: 900px;
}

.footer-fixed {
    bottom: 0;
    width: 100vw;
    height: 50px;
    display: flex;
    position: fixed;
    background-color:black;
}
.footer-fixed-list {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-text {
    font-size: 15px;
    color: #fff;
}
.header-fixed-back footer-icon {
    margin-top: 5px;
}
.footer-fixed-placeholder {
    height: 50px;
    width: 100vw;
    margin-top: 30px;
}
.img1{
margin-left:-80px
}
.img2{
margin-left: 25px
}
.footer-text1{
margin-top: -23px;
font-size: 18px;
margin-left: 35px;
color:white
}

.h1 {
    position: fixed;
    left: 100px;
    left: 200px;
}
