*{
    box-sizing:border-box
}

html {
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    background:  rgb(125, 125, 209)
}

body {
    margin:200px;
    margin-left: 320px;
    margin-right: 200px;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 720px;
    min-height: 100vh;
}

header{
    position: relative;
    color: cornsilk;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: 'Times New Roman', Times, serif;
}
    
h1 {
    margin: 0;
    font-size: 2em;
    letter-spacing: .3px;
}
    





